/*menü formázása*/
header nav {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

header .brand-logo img { /*logo méretezése a fejlécben*/
    width: 160px;
    margin: 10px 15px; /*@todo: ha látszódni kezd a wrapper széle akkor tünjön el az oldalsó margó a logórol*/
}

.sticky {
    background: rgba(255, 255, 255, 1) !important;
    position: fixed;
}

.sticky .mainmenu a {
    color: #111;
}

.mainmenu a {
    margin: 14px 10px;
    padding: 7px 0;
    /*color:#333;*/
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto Light", Arial, sans-serif;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.mainmenu li:hover > a {
    color: orange;
    border-bottom-color: orange;
}
/*almenüvel rendelkező menüpontok és almenük beállítása*/
/*@todo: mobil nézeten nem jó az absolute pozíció*/
li.has-submenu {
    position: relative;
    /* background: yellow;*/
}
li.has-submenu > a:after {
    content:" \00BB";
    display: inline-block;
    transform:rotate(0);
    margin:0 5px;
    transition: transform 200ms ease-in-out;
}
li.has-submenu:hover > a:after {
    transform:rotate(90deg);
}
li.has-submenu > ul {
    position:absolute;
    background: #fff;
    display: none;
}
li.has-submenu:hover > ul {
    display: block;
}
/*hivatkozások kinézetének módosítása*/
li.has-submenu > ul a {
    color:#111;
    border-bottom:none !important;
    margin: 0 15px;
}
/*desktop és ahol nem fér egymás alá*/
@media screen and (min-width: 960px) {
    header nav .wrapper { /*navigációs sáv elrendezés*/
        flex-flow: row nowrap !important;
    }

    .mainmenu { /*legyen jobbra*/
        display: flex !important;
        justify-content: flex-end;
    }

    .mobile-menu-toggle {
        display: none !important; /*mert desktopon nem kell*/
    }
}

/*mobil menü váltó formázása*/
.mobile-menu-toggle {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
}

header nav .wrapper { /*navigációs sáv elrendezés*/
    display: flex;
    flex-flow: column nowrap;
}

.mainmenu { /*legyen jobbra*/
    flex-grow: 1;
    display: none; /*mobilon a menü alapból nem látszódik, csak ha a hamburger ikont megnyomjuk*/
}

header nav:hover .mainmenu { /*ideiglenes dropdown*/
    /*display: block;*/
}

/*@todo: átlátszó navigáció van alapból ezért arra kell formázni hf!*/