@import "minireset.css";
@import "buttons.css";
/*gombok formázása*/
@import "grid-skills.css";
/*grid beállítások és skills rész*/
@import "navigation.css"; /*főmenü formázása*/

body, html {
    font-family: "Trebuchet MS", Arial, sans-serif;
    line-height: 1.5em;
    background: #fff;
    color: #888;
    scroll-behavior: smooth;
}
/*általános a tagek*/
a {
    text-decoration: none;
    color: #1e283c;
}

a:hover {
    color: orange
}
/*section távtartások alul felül*/
section {
    padding: 50px 0;
}
section#skills {/*a footere miatt nem szép ha kilóg a szürke háttér*/
    padding-bottom: 0;
}
.social a {
    display: inline-block;
    margin: 15px 10px 15px 0;
    font-size: 1.2em;
}

.grey-bg {
    /*szürke blokkok háttérsegéd*/
    background: #f6f6f6;
}
.wrapper {
    width: 100%;
    /*background-color: pink;*/
}
p {
    line-height: 1.5em;
    margin: 15px 0;
}
p.subtitle {
    text-align: center;
    color:#111;
    margin:0 auto 30px;
    max-width: 60%;
}
.column-2 {
    column-count: 2;
}
/*hero fromázása*/
#hero {
    padding-top:6em;
    color:#fff;
    padding-top: 6em;
}
#hero h1 {
    color:#fff;
    text-align: start;
    margin: .5em 0 1em;
}
#hero h1 .anim {
    color:orange;
}
#hero p{
    max-width:60%;/*ez csak desktopra kell*/
    margin: 1em 0 .5em;
}
.hero-subtitle {
    font-size:20pt;
    font-weight: 100;
    letter-spacing: 0;
}


#about ul li {
    color:#111;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
    margin-right:30px;
    margin-bottom: 15px;
}
#about ul span {
    color:#888;
}
header {
    min-height: 600px;
    background: url('https://picsum.photos/1920/1200') center top no-repeat;
    background-size: cover;
}


/*címsorok*/
h1 {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: .5em;

}
h1 > .subtitle {
    color: orange;
    font-size: 0.6em;
    line-height: 1em;
    display: block;
    margin-top: 15px;
    text-transform: lowercase;
}
h1 .subtitle:before,
h1 .subtitle:after
{
    content: '';
    background: orange;
    width: 20px;
    height: 2px;
    overflow: hidden;
    display: inline-block;
    margin: 5px 25px;
}
.container-fluid {
    width: 100%;
    /*background-color: khaki;*/
}

/**SKILLS **/
.progress-bars > li {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom:15px;
}

.progress-bars .title {
    display: flex;
    flex-flow: row nowrap;
    color:#1e283c;
    text-transform: uppercase;
    font-weight: 700;
}

.title span {
    /*background: pink;*/
    flex-grow: 1;
}

.percent {
    text-align: right;
}

/*skills progress bar formázása*/
progress {
    border: 0 none #fff;
    width: 100%;
    height: 1em;
    background: #666;
    padding: 0;
    margin: 0;
}

progress::-moz-progress-bar {
    background: #666;
}

progress::-webkit-progress-value {
    background: orange;
}

progress::-webkit-progress-bar {
    background: #666;
}

/*progress bar formázás vége*/
#skills footer {
    background: #000;
    margin-top:50px;
}

/**skill footer @todo media query**/
#skills footer > .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 30px 0;
    text-align: center;
    align-content: center;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    line-height: 1.6em;
}

#skills .value {
    color: orange;
    font-family: "Arial Black", Arial, sans-serif;
}
/*blog dobozok és belső rész*/
.post {
    /*background: #ddd;*/
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.post > .head > img {
    transform: scale(1.1);
    position:relative;
    transition: transform 500ms ease-in-out;
}
.post:hover > .head > img {
    transform: scale(1.4);
}
.post > .head{
    overflow: hidden;
    margin: -15px;
}
.post .comments {
    position: absolute;
    right: 10px;
    top: 10px;
    background: orange;
    color: #fff;
    padding: 5px 10px;
    z-index: 10;
    border-radius: 40px;
}

.post > .title {
    flex-grow: 1;
    padding-top: 30px;
}
ul.posts {
    display: grid;
    grid-template-columns: auto auto auto;
}
/*hivatkozások*/
.posts a {
    color:#1e283c;
    font-size:18px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0;
}
.posts a:first-letter {
    text-transform: uppercase;
}

.posts a:hover {
    color:orange;
}
/*alsó rész a szerzővel*/
.post > .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-weight: 700;
    color: #1e283c;
}

.post > .footer .author {
    background: #1e283c;
    border-radius: 40px;
    padding-right: 15px;
    color: #fff;
    border:1px solid rgba(255,255,255,0.5);
    box-shadow:0 0 3px rgba(0,0,0,0.6) inset;
}
.post > .footer > time {
    text-transform: capitalize;
}
.post > .footer .author img {
    border-radius: 40px;
    vertical-align: middle;
    margin: 3px;
    border:2px solid rgba(255,255,255,0.5);
    box-shadow:0 0 3px rgba(0,0,0,0.6) inset;
}
.card {
    text-align: start;
    box-shadow: 0 1px 6px rgba(0,0,0,.18);
    padding: 0 30px;
}
.owl-item {
    margin:50px 0 20px;
}
.holder img {
    width: 100px !important;
    height: auto;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: 30px;
    margin-bottom: 20px;
    display: block;
}
.rating {
    display: inline-block;
    margin-top: 60px;
}
.rating li {
    display: inline-block;
    color:orange;
    font-size:14px;
}
.name {
    font-weight: 500;
    letter-spacing: 2px;
    color: #1e283c;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}
#testimonial .card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color:#888;
}
.fa-star.off {
    color:lightgray !important;
}
.owl-nav > button > span {
    width: 45px;
    height: 45px;
    display: inline-block !important;
    padding: 15px;
    border-radius: 50px;
    background: orange !important;
    color: #fff !important;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    /*line-height: 1em;*/
    border: 4px solid #ffc107;
}
/*kapcsolat rész*/
.form-grid > label > input,
.form-grid textarea {
    width: 100%;
    margin: 10px 0;
}

.form-grid {
    /*background: deeppink;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

ul.info {
    padding: 15px;
}

button {
    border: none;
}

ul.info b {
    display: block;
    color: #111;
    margin-top: 10px;
}

/*oldal lábléc*/
body > footer {
    text-align: center;
    padding: 30px;
}

/*desktop*/
@media screen and (min-width: 1200px) {
    .wrapper { /*tartalom wrapper desktopra*/
        width: 1200px;
        margin: 0 auto;
    }

    /*DESKTOP navigation*/
    .mainmenu {
        display: inline-flex; /*a flex hordozó inline viselkedést kap*/
        flex-flow: row nowrap;
    }

    .flex-container {
        display: flex;
        flex-flow: row nowrap;
    }

    .flex-container > .box {
        flex: 1 1 50%;
    }

}

/*todo megoldása*/
@media screen and (min-width: 1220px) {
    header .brand-logo img {
        margin: 15px 0 5px;
    }
}

/*desktop alá - contact form*/
@media screen and (min-width: 780px) {
    .contact-form {
        display: flex;
    }

    ul.info {
        /*background: lime;*/
        flex-grow: 1;
    }

    .form-grid {
        flex-grow: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*label cimzések attributumra: for="xxx"*/
    label[for=subject] {
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    label[for=msg] {
        grid-row: 3/4;
        grid-column: 1/-1;
    }
}

.scrollTop {
    position:fixed;
    right:25px;
    bottom:25px;
    background: #1e283c;
    color:#fff;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 30px;
    text-align: center;
    font-weight: 900;
    font-size:20px;
    z-index: 1000;
    line-height: 1.8em;
}